/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
h1 {
	font-family: 'Slabo 27px', serif;
	color: pink;
}

.footer {
	color: blue;
	background-color: #be4;
	width: 100%;
	bottom: 10px;
	position: relative;
	height: 60px;
	text-align: center;
	padding-top: 20px;
	font-size: 14px;


}